body {
  background-color: #272727; }

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }

header {
  position: fixed;
  top: 0;
  z-index: 2; }
  header .top-menu ul {
    width: 100vw;
    height: 10vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
    text-transform: uppercase;
    font-size: 2.5vh; }
    header .top-menu ul a {
      text-decoration: none;
      color: white; }

.jumbotron {
  position: relative;
  background-image: url("../img/jumbotron.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.advantages {
  height: 60vh;
  width: 100vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden; }
  .advantages .quality {
    color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    font-size: 28px;
    padding: 0 40px; }
    .advantages .quality h2 {
      padding: 85px;
      text-align: center;
      background-image: url("../img/kolo.png");
      background-position: center;
      background-size: 170px;
      background-repeat: no-repeat; }
  .advantages h4 {
    color: #e5ac00;
    font-size: 20px;
    text-align: justify;
    padding: 0 40px; }
