.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

header {
	position: fixed;
	top: 0;
	z-index: 2;

	.top-menu {

		ul {
			width: 100vw;
			height: 10vh;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			text-transform: uppercase;
			font-size: 2.5vh;

			a {
				text-decoration: none;
				color: white;
			}
		}
	}
}

.jumbotron {
	position: relative;
	background-image: url('../img/jumbotron.jpg');
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}